body {
    font-family: 'Roboto Slab', serif;
	line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    position: relative;
    overflow-x: hidden;
}

nav{
    width: 100%;
}

#logo{
    width: 75px;
}

#logoName {
    width: 200px;
}

#mainNavbar{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-link{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    font-weight: 500;
    color:#a10a10;
    letter-spacing: 1px;
    margin-right: 20px;
}

#mainNavbar .nav-link:last-child{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #a10a10;
    color:#ffffff;
    letter-spacing: 1px;
    padding-right: 25px;
    margin-right: 20px;
}

#mainNavbar .nav-link:last-child:hover{
 
    color: #a10a10;
    background-color:#ffffff;
}

#mainNavbar .nav-link:hover{
    background-color: #a10a10;
    color:#ffffff; 
}

.dropdown-item {
    font-family:Arial, Helvetica, sans-serif;
    color:#a10a10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-item:hover {
    background-color:#a10a10;
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

ol, ul {
	list-style: none;
    padding: 0;
}

h1{
    text-align: center;
    color:#a10a10;
    font-size: clamp(1.8em,calc(1em + 2.4vw),3em);
    font-weight: 900;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 60px;
    padding-top: 40px;

}
#myPic {
    width: 500px;
    border-radius: 10% 30% 50% 70%;
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1.8em,calc(1em + 2.4vw),3em);
    color: #a10a10;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#service
{
    border-bottom: none;
}

p {
    font-family: 'Roboto Slab', serif;
    margin:20px;
    padding: 5px;
    font-size: clamp(1.8em,calc(1em + 2.4vw),2em);
    font-weight: 500;
    line-height: 45px;
}

.employer{
    margin-top: 15px;
    margin-bottom: 15px;
}

.employer .col-md-6.description {
    padding-left: 10em;
}

.organization .col-md-6.service-form {
    padding-left: 10em;
}

.course{
    margin-top: 15px;
    margin-bottom: 15px;    
}

.organization{
    margin-top: 15px;
    margin-bottom: 15px;    
}

h3 {
    /* font-size: larger; */
    color: #040241;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px;
}

h5 {
padding-left: 3px;
}

.container-fluid {
    width: 100%;
}

.containerImg {
    margin-bottom: 25px;
    max-width: 100%;
    border-radius: 3%;
}
.school{
    color:#040241;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 5px;
    font-size: clamp(1.5em,calc(1em + 2.4vw),1em);
}
.degree{
    color: #a10a10;;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
}

.skills {
    color: #a10a10;;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
}
.completed, .time, h4 {
    color: #4b4b4b;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
}
.social{
    display: flex;
    flex-direction: row;
}
.icon{
    padding: 25px 25px 25px;
}

#library-pic {
    border-radius: 5%;
}

.form-control {
    border: solid 2px #000000;
}

.form-control, .form-label {
    margin: .5em;
}

#pre-footer {
    width: 100%;
    background-color: #edf2f4;
    text-align: center;
}

.pre-footer p {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    color:#000000;
    line-height: 1.5em;
    margin: 0;
}

#pre-footer img {
    width: 7em;
}

footer {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 3px #000000;
    background-color: #a10a10;
    line-height: 2em;
}
.footer-text {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: medium;
    color:#ffffff;
}

#footer-contact {
    margin-right: 3em;
    margin-left: 3em;
}

#footer-logo{
    width: 3em;
}

.footer-link {
    line-height: 2;
    padding-left: 50%;
    text-decoration: none;
}

#email{
    color:#ffffff;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

a:link {
    text-decoration: none;
}

.service-logo {
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: underline;
}

#mainNavbar .navbar-toggler{
    background-color: #ffffff;
}

#mainNavbar .navbar-toggler:hover {
    background-color: #f0f0f0;
}

#send-button {
    margin-bottom: 5em;
}

@media(max-width: 1102px) {
    .organization .col-md-6.service-form.text-left, .employer .col-md-6{
        text-align: center;
    }
    .nav-link{
        margin-right: 0px;
}
}

@media(max-width: 768px) {
    .employer .col-md-6.description {
        padding-left: 0em;
    }
    
    .organization .col-md-6.service-form {
        padding-left: 0em;
    }
}